<div class="row">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form._token) }}
        <div class="form-group">
            <label for="username" class="col-md-1 control-label">{{ 'form.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-11">
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-md-1 control-label">{{ 'form.email'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-11">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-md-1 control-label">{{ 'form.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-11">
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label for="password_confirmation" class="col-md-1 control-label">{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
            <div class="col-md-10">
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-11">
                <button class="btn btn-default" type="submit" >{{ 'registration.submit'|trans({}, 'FOSUserBundle') }} </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="text-error flash-{{ type }}">{{ message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
     </form>
</div>
