<div class="row">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form._token) }}
        <div class="control-group span12">
            <label for="username" class="control-label">{{ 'form.username'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.username) }}
            </div>
        </div>
        <div class="control-group span12">
            <label for="email" class="control-label">{{ 'form.email'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.email) }}
            </div>
        </div>
        <div class="control-group span12">
            <label for="password" class="control-label">{{ 'form.password'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.plainPassword.first) }}
            </div>
        </div>
        <div class="control-group span12">
            <label for="password_confirmation" class="control-label">{{ 'form.password_confirmation'|trans({}, 'FOSUserBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
        <div class="control-group span12">
            <div class="controls">
                <input class="btn" type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
            </div>
        </div>

        <div class="control-group span12">
            <div class="controls">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="text-error flash-{{ type }}">{{ message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
     </form>
</div>
