{# src/Sondage/SurveyBundle/Resouces/views/Survey/display.html.twig #}
{% extends 'SondageSurveyBundle::layout.html.twig' %}

{% block title %}{{ survey.title }}{% endblock %}

{% block body %}
    <article class="survey">
        <header>
            <div class="date"><time datetime="{{ survey.created|date('c') }}">{{ survey.created|date('l, F j, Y') }}</time></div>
            <h2>{{ survey.title }}</h2>
            <p>{{ survey.description | raw }}</p>
        </header>
    </article>
{% endblock %}