{# src/Sondage/SurveyBundle/Resouces/views/Survey/display.html.twig #}
{% extends 'SondageSurveyBundle::layout.html.twig' %}

{# {% block title %}{{ survey.title }}{% endblock %} #}

{% block body %}
    <div class="survey-list with-border">
        <article>
            <ul class="list">
                {% for survey in pagination %}
                    {% if (loop.index % 2) == 0 %}
                        <li style="background-color: white">
                    {% else %}
                        <li style="background-color: #ccc">
                    {% endif %}
                        <a href="{{ path('sondage_survey_edit') }}/{{ survey.id }}"><i class="survey-icon-pencil"></i></a>
                        <a href="#{# {{ path('sondage_survey_remove') }}/{{ survey.id }} #}"><i class="survey-icon-remove"></i></a>
                        <a href="{{ path('sondage_survey_display') }}/{{ survey.id }}">{{ survey.title }}</a>
                    </li>
                {% endfor %}
            </ul>
                {{ knp_pagination_render(pagination) }}
        </article>
    </div>
{% endblock %}