{% extends 'SondageSurveyBundle::layout.html.twig' %}
{% block body %}
    <div class="survey-list with-border">
        <article>
            <ul class="list">
                {% for slideshow_parameter in slideshow_parameters %}
                    {% if (loop.index % 2) == 0 %}
                        <li style="background-color: white">
                    {% else %}
                        <li style="background-color: #ccc">
                    {% endif %}
                    <a href="#"><i class="survey-icon-pencil"></i></a>
                    <a href="#"><i class="survey-icon-remove"></i></a>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </div>
    <form action="{{ path('sondage_settings_slideshowparameters') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form._token) }}
        <div class="control-group span12">
            <label for="description" class="control-label">{{ 'Documents'|trans({}, 'SondageSettingsBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.documents) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="control-group span12">
            <div class="controls">
                <input class="btn" type="submit" value="{{ 'Submit'|trans({}, 'SondageSettingsBundle') }}" />
            </div>
        </div>
        <div class="control-group span12">
            <div class="controls">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="text-{{ type }}">{{ message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </form>
{% endblock %}
