{% extends 'SondageSurveyBundle::layout.html.twig' %}
{% block body %}
    <div id="slideshow-pictures-list" class="slideshow-pictures-list with-border">
       {% embed  "SondageSettingsBundle:Default:slideshowPictures.html.twig" %}
       {% endembed %}
    </div>
    <form action="{{ path('sondage_settings_slideshowparameters') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
        {{ form_widget(form._token) }}
        <div class="control-group span12">
            <label for="description" class="control-label">{{ 'Documents'|trans({}, 'SondageSettingsBundle') }}</label>
            <div class="controls">
                {{ form_widget(form.documents) }}
            </div>
        </div>
        {{ form_rest(form) }}
        <div class="control-group span12">
            <div class="controls">
                <input class="btn" type="submit" value="{{ 'Submit'|trans({}, 'SondageSettingsBundle') }}" />
            </div>
        </div>
        <div class="control-group span12">
            <div class="controls">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <p class="text-{{ type }}">{{ message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </form>
    {% javascripts
    '@SondageSettingsBundle/Resources/public/js/settings.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
